*{
	padding: 0;
	margin: 0;
	font-family: 'poppins', sans-serif;
 }
 body{
	background-color: #17252a;
	display: grid;
	height: 100vh;
	place-items: center;
 }
 .container{
	width: 400px;
	height: 450px;
	background-color: #2c2f2e;
	position: absolute;
	border: 5px solid black;
	border-radius: 6px; 
 }
 .container input[type='text'] {
	width: 88%;
	position: relative;
	height: 80px;
	top: 5px;
	text-align: right;
	padding: 3px 6px;
	outline: none;
	font-size: 40px;
	background-color: #808382;
	border: 5px solid black;
	display: flex;
	margin: auto;
	border-radius: 6px;
	color: black;
 }
 .btn input[type='button']{
	width:90px;
	padding: 2px;
	margin: 2px 0px;
	position: relative;
	left: 13px;
	top: 20px;
	height: 60px;
	cursor: pointer;
	font-size: 18px;
	transition: 0.5s;
	background-color: #495250;
	border-radius: 6px;
	color: white;
 }
 .btn input[type='button']:hover{
	
	background-color: #686865;
	color: white;
 }